.activity .meta {
  font-size: 0.8em;
  color: #888;
  margin-top: 1em;
  height: 1.5em;
}

.activity p {
  margin-top: 0;
}

.chat-input-container input {
  padding: 1em;
  background: transparent;
  color: #fff;
  border: none;
}

.chat-input-container input:focus {
  outline: none;
}
