<div layout="column" layout-fill>
  <md-content md-scroll-y>
    <md-card>
      <md-card-content>
        <md-list>
          <md-list-item ng-repeat="activity in activities" layout="row" class="activity">
            <img ng-src="{{activity.user.avatar}}" class="md-avatar"/>
            <div flex layout="column">
              <div layout="row" class="meta">
                <p>
                  <span>{{activity.user.name}}</span> -
                  <span>{{activity.when | date:'short'}}</span>
                </p>
              </div>
              <p>{{activity.message}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </md-content>

  <md-toolbar md-scroll-fixed class="md-tall">
    <span flex></span>
    <div class="md-toolbar-tools md-toolbar-tools-bottom" >
      <md-button class="md-icon-button" hide-gt-md ng-click="toggleSidenav('left')">
        <ng-md-icon icon="menu" layout layout-align="center center"></ng-md-icon>
      </md-button>
      <md-input-container layout="row" layout-fill md-no-float class="chat-input-container">
        <textarea ng-model="newMessage" placeholder="Send new message (enter to send)" layout layout-fill></textarea>
      </md-input-container>
    </div>
  </md-toolbar>

</div>
